/* * {
  background-color: gray;
  color: aliceblue;
} */

.topname-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.subjectname {
  /* display: grid; */
  text-align: center;
  border: 1px solid aquamarine;
  border-radius: 10px;
  background-color: aquamarine;
  margin: auto;
  width: 200px;
  /* height: px; */
}

.input_text {
  display: inline;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.input_text:focus{
  outline: 0;
  border-color: #5db0ff;
}

.add_button {
  display: inline;
  border-radius: 50%;
  border-color: gray;
  background-color: white;
}